.resposta {
    display: flex;
    align-self: stretch;
    min-width: 500px;
    width: 80%;
    height: 100px;
    margin: .5em;
}

.conteudoResposta {
    position: relative;
    display: flex;
    flex: 1;
}

.frente,
.verso {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    /* margin: 10px; */
}

.frente {
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    color: #111;
    background-color: #fff;
}

.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 20px;
}

.valor {
    font-size: 1.3rem;
    font-weight: bold;
}

.verso>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 12px;
}

.certa {
    background-color: #2BAA6d;
}

.errada {
    background-color: #E44a4c;
}

.certa,
.errada,
.valor {
    font-size: 1.5rem
}